name: Run Unit Tests

on:
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install unittest (default)
      run: |
        echo "Using built-in unittest"

    - name: Run tests
      run: |
        python -m unittest discover
